@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 1px;
}

.container {
  margin-top: 100px;
  padding-bottom: 100px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

* {
  outline: none;
}

.table th,
.table thead th {
  font-weight: 500;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th,
.table thead th {
  font-weight: bold;
}

th,
td {
  text-align: center;
}

.m-b-20 {
  margin-bottom: 20px;
}
